<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <h1 class="text-danger text-center">Ulvi</h1>
        @RenderBody()
    </div>
</body>
</html>
